# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Env
.env
*.local

# Frontend
node_modules/
web/dist/
*.local

# AI
.codebuddy/

# Build
bin/
tmp/
todo-api
todo-zero
dist
server/dist/

# Data
data/
server/data/
builddata/
